@tailwind base;
@tailwind components;
@tailwind utilities;

/* quizlet stuff */
.QBody {
  background-color: rgb(246 247 251 / 1);
  color: rgb(40 46 62 / 1);
  padding: 1rem;
}
.Breadcrumb-Wrapper {
  display: flex;
  flex-direction: row;
  color: rgb(88 99 128 / 1);
  font-weight: 600;
  font-size: 14px;
}
.Breadcrumb-Link {
  display: flex;
}
.Breadcrumb-Divider {
  padding: 0 0.5rem;
}
.Title-Wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.Title-Header {
  color: rgb(26 29 40 / 1);
  font-size: 2rem;
  font-weight: 700;
}
.Set-Rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.Set-Rating-Text {
  color: rgb(88 99 128 / 1);
  font-weight: 600;
  font-size: 14px;
}
.Modes-Wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.Card {
  background-color: rgb(255 255 255 / 1);
  overflow: clip;
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-colored: 0 4px 6px -1px var(--shadow-color),
    0 2px 4px -2px var(--shadow-color);
  box-shadow: var(--ring-offset-shadow, 0 0 #0000),
    var(--ring-shadow, 0 0 #0000), var(--shadow);
  border-radius: 0.5rem;
}
.Modes-Button {
  display: flex;
  padding: 0.8rem 1rem;
  font-weight: 600;
  gap: 0.8rem;
  width: 100%;
  text-wrap: nowrap;
  justify-content: start;
}
.FC-Wrapper {
  margin-top: 1.5rem;
}
.FC {
  position: relative;
  height: 428px;
  display: flex;
  flex-direction: column;
}
.FC-Top-Controls {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}
.FC-Top-Left-Controls {
  display: flex;
  gap: 1rem;
}
.FC-Top-Right-Controls {
  display: flex;
  gap: 1rem;
}
.FC-Content {
  font-size: 2rem;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}
.FC-Message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f1c8b;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
}
.Controls-Wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.Controls-Left {
  display: flex;
  justify-content: space-between;
  width: 80px;
}
.Controls-Middle {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  width: 11rem;
  font-weight: 600;
  color: rgb(88 99 128 / 1);
}
.Controls-Right {
  display: flex;
  justify-content: end;
  width: 80px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
